@import "nes.css/css/nes.min.css";


body {
    font-family: "Press Start 2P", cursive;
    /* NES.css font */
    background-color: #030218;
    color: #fff;
    padding: 2rem;
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.todo-container {
    width: 100%;
    max-width: 500px;
}

ul {
    list-style: none;
}

.title {
    color: #030218;
}